# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
argon2-cffi
ca-certificates
charset-normalizer
dj-database-url
django-bootstrap4
django-crispy-forms
django-heroku
importlib-metadata
intel-openmp
lazy-object-proxy
lz4-c
m2w64-gcc-libgfortran
m2w64-gcc-libs
m2w64-gcc-libs-core
m2w64-gmp
m2w64-libwinpthread-git
matplotlib-base
matplotlib-inline
mkl-service
msys2-conda-epoch
nest-asyncio
prompt-toolkit
pyqt-impl
pyqt5-sip
python-dateutil
scikit-learn
scikit-multilearn
