<style>
    .centraliza {
       
        width: 755px;
        margin: auto;
        height: 375px; 
    }
    </style>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>informar parametros de execução</title>
    </head>
    <form>
        <h2> <input type='button' value='Voltar' onclick="javascript: history.go(-1)" /></h2>
    </form>
    <div class="centraliza" >
        <body>
          
            <form method="post" action="{% url "start-build-process" %}">
                <p><p><p><p>
                    <h4> Nome para o experimento:<p>
                        <input type="text" name="nome" placeholder="nome"></h4>
            
                <p>
                    <h4> Número de repetições do experimento:<p>
                
                        <input type="number" name="numero" placeholder="numero de repetições"></h4>
                
                        <h4><p>Tamanhos das reduções aleatorias que serão realizadas:<p>
                
                        <input type="text" name="reduce" placeholder="tamanho"> exemplo: 0.1, 0.15, 0.20, ..., 0.95 </h4>
                
                  
        
                {% csrf_token %}

                <h1><p><input type="submit" value="Executar Experimento"/></p></h1>

            </form>
        </body>
        </div>
</html>