<style>
    .centraliza {
        width: 1555px;
        margin: 30px;
        height: 175px; 
        margin-top: 10px;
    }
    </style>
<!DOCTYPE html>

<html>
    <head>
        <form action="{% url "my-view" %}" method="post" >
            {% csrf_token %}
            <p><input type="submit" value="Voltar"/></p>
        </form >
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <meta charset="utf-8">
        <title>Lista de Experimentos</title>
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <div class="centraliza" >
            <!-- List of uploaded documents -->
            <h1>Lista de Experimentos</h1><p></p>
            <ul>
                {% for process in context %}<h5> 
                    <li>  Nome do Experimento: {{ process }}      — Arquivo: {{ process.arquivo }} </h5> <p> 
                       <h9> — Vizualizar gráficos dos valores das Medidas por tamanho de redução do dataset: <a href="{{ process.id }}">Visualizar gráficos</a> <p> <p> </h9>
                       <h9> — Visualizar Ranking de variabilidade das Medidas por dataset:  <a href="{{ process.nome }}/analise">Visualizar Ranking por dataset</a> <p> </h9>
                       <h9> — Visualizar Ranking de variabilidade das Medidas por tamanho de Redução do dataset:  <a href="{{ process.nome }}/analiselistreducao">Visualizar Ranking por dataset e redução</a> <p> </h9>
                       <h9> — Visualizar Ranking de variabilidade das Medidas por tamanho de Redução com todos os datasets deste Experimento unificados: <a href="{{ process.nome }}/analiselistreducaogeral">Visualizar Ranking Geral</a> <p> </h9>
                       <h9> — Download Resultado Original <a href="{{ process.salvarDf_O }}">{{ process.salvarDf_O }}</a><br></h6>
                       <h9> — Download Resultado Reduzido <a href="{{ process.salvarDf_R }}">{{ process.salvarDf_R }}</a><p><p></p></h6>
                       
                    </li> <p>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>