<style>
    .centraliza {
        width: 1055px;
        margin: auto;
        height: 375px; 
    }
    </style>
<!DOCTYPE html>

<html>
    <head>
        <form action="{% url "my-view" %}" method="post" >
            {% csrf_token %}
            <p><input type="submit" value="Voltar"/></p>
        </form >
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <meta charset="utf-8">
        <title>Lista de Experimentos</title>
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <div class="centraliza" >
            <!-- List of uploaded documents -->
            <h1>Lista de Experimentos</h1>
            <ul>
                {% for process in context %}
                    <li>
                       <h6> Vizualizar medidas do Experimento: <a href="{{ process.id }}">{{ process }}</a> <p> </h6>
                        Download Resultado Original <a href="{{ process.salvarDf_O }}">{{ process.salvarDf_O }}</a><br>
                        Download Resultado Reduzido <a href="{{ process.salvarDf_R }}">{{ process.salvarDf_R }}</a><p>
                    </li>
                    <p>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>