<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Experimento</title>
    </head>

    <body>
        <form>
            <input type='button' value='Voltar' onclick="javascript: history.go(-1)" />
        </form>
      
        <h1>  Experimento </h1>
        <form action="{% url 'graf-medida' %}" method="POST">
            {% csrf_token %}
                {% for process in context %}
                    <li>
                        {{ process }}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul>
                
                {% for process1 in original %}
                    {% for process in context %}
                        <li>
                             <input name="medid" type="submit" value="{{ process.id }} {{ process1 }} " 
                        </li>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
            <ul>
                {% for process2 in resultados %}
                    <li>
                        resltados: {{ process2 }}</a>
                    </li>
               {% endfor %}
            </ul>
        </form>
</html>