<style>
    .centraliza {
       
        width: 1055px;
        margin: auto;
        height: 375px; 
    }
    </style>
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Experimento</title>
    </head>
        <body>
            <form>
                <input type='button' value='Voltar' onclick="javascript: history.go(-1)" />
            </form>
            <div class="centraliza" > 
                <h1>  Experimento </h1>
                <form action="{% url 'graf-medida' %}" method="POST">
                    {% csrf_token %}
                        {% for process in context %}
                            <h4> Nome do Experimento:  {{ process.nome }}</a></h4>
                            <h4> Numero de repetições:  {{ process.numero_repeticoes }}</h4>
                            <h4>Tamanho das Reduções: {{ process.tamanhos_reducao }}</h4>
                        {% endfor %}
                    <ul> <h4>Clique na medida para visualizar o gráfico individual desta medida</h4>
                        {% for process1 in original %}
                            {% for process in context %}
                                <li>
                                    <input name="medid" type="submit" value="{{ process.id }} {{ process1 }} " 
                                </li>
                                {% endfor %}
                        {% endfor %}
                    </ul>
                    <ul>
                    </ul>
                </form>
                
            </div>
        </body>
        
</html>