<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Carregar arquivos e executar</title>
    </head>

    <body>
        <!-- List of uploaded documents -->
        {% if documents %}
            Lista de arquivos carrecados:
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Sem Documentos.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "my-view" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ message }}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Carregar"/></p>

            
        </form >
        <form method="post" action="{% url "build-process" %}">
            {% csrf_token %}
           
            <p><input type="submit" value="Gerar Experimento"/></p>
        </form>
        <form method="post" action="{% url "list-process" %}">
            {% csrf_token %}
           
            <p><input type="submit" value="Listar Experimentos"/></p>
        </form>
            <div><a>Para modificar a base de dados:  </a></div>
            <a href="/admin">Entrar como Administrador</a>
        </form>
    </body>
</html>
