<!-- Styles -->
<style>
    #chartdiv {
      width: 100%;
      height: 600px;
    }
    
    </style>
    
    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
    <!-- Chart code -->
    <script>
    
      am4core.ready(function() {

      var experimento = document.getElementById("experimento").innerText;
     
      var nome_medida = document.getElementById("nomemedida").innerText;
    
      var origin = document.getElementById("origin").innerText;
     
      var dados = document.getElementById("dados").innerText;
        
      console.log(dados)
      j=0;i=0;
      var ori1 = dados;
      for(i;i<ori1.length;i++) {

        ori =''
        
        ori = ori1.replaceAll("'",'');
        //ori = ori.replaceAll(', {', "}, {");
        //ori = ori.replaceAll("'", "");
   
      }
      console.log(ori)
  
     
      // Themes begin
     
      am4core.useTheme(am4themes_animated);
    
        var chart = am4core.create('chartdiv1', am4charts.XYChart3D);
        // Add scrollbar
        
        chart.data = eval(ori);
        
        chart.scrollbarX = new am4core.Scrollbar();
    
        let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "tamanhoReducao";
        categoryAxis.renderer.labels.template.rotation = 270;
        categoryAxis.renderer.labels.template.hideOversized = false;
        categoryAxis.renderer.minGridDistance = 35;
        categoryAxis.renderer.labels.template.horizontalCenter = "right";
        categoryAxis.renderer.labels.template.verticalCenter = "middle";
        categoryAxis.tooltip.label.rotation = 270;
        categoryAxis.tooltip.label.horizontalCenter = "right";
        categoryAxis.tooltip.label.verticalCenter = "middle";
        categoryAxis.title.text = "Tamanho da Redução em (¨%)";

    
        let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.title.text = "Valor da medida";
        valueAxis.title.fontWeight = "bold";
       
    
    
        // Create series
        var series = chart.series.push(new am4charts.ColumnSeries3D());
        series.dataFields.valueY = "medida";
        series.dataFields.categoryX = "tamanhoReducao";
        series.name = "Medidas";
        series.title = "Medidas";
        series.tooltipText = "{categoryX}: [bold]{valueY}[/]";
        series.columns.template.fillOpacity = .8;
    
        var columnTemplate = series.columns.template;
        columnTemplate.strokeWidth = 1;
        columnTemplate.strokeOpacity = 1;
        columnTemplate.stroke = am4core.color("#FFFFFF");
    
        columnTemplate.adapter.add("fill", function(fill, target) {
          return chart.colors.getIndex(target.dataItem.index);
        })
    
        columnTemplate.adapter.add("stroke", function(stroke, target) {
          return chart.colors.getIndex(target.dataItem.index);
        })
    
        chart.cursor = new am4charts.XYCursor();
        chart.cursor.lineX.strokeOpacity = 0;
        chart.cursor.lineY.strokeOpacity = 0;
      
    }); // end am4core.ready()
    am4core.ready(function() {

      // Themes begin
      am4core.useTheme(am4themes_animated);
      // Themes end
      
      // Create chart instance
      var chart = am4core.create("chartdiv", am4charts.XYChart);
      
      // Add data
      chart.data = eval(ori);
      
      // Create axes
      var xAxis = chart.xAxes.push(new am4charts.ValueAxis());
      xAxis.renderer.minGridDistance = 35;
      xAxis.title.text = "Tamanho da redução em (¨%)";
      
      
      // Create value axis
      var yAxis = chart.yAxes.push(new am4charts.ValueAxis());
      yAxis.title.text = "Valor da medida";
      yAxis.title.fontWeight = "bold";
      
      // Create series
      var series1 = chart.series.push(new am4charts.LineSeries());
      series1.dataFields.valueX = "tamanhoReducao";
      series1.dataFields.valueY = "medida";
      series1.dataFields.value = "tamanhoReducao";
      series1.strokeWidth = 1;
          
      
      var bullet1 = series1.bullets.push(new am4charts.CircleBullet());
      series1.heatRules.push({
        target: bullet1.circle,
        min: 5,
        max: 5,
        property: "radius"
      });
      
      bullet1.tooltipText = "{valueX} x {valueY}: [bold]{value}[/]";
      
      var series2 = chart.series.push(new am4charts.LineSeries());
      series2.dataFields.valueX = "tamanhoReducao";
      series2.dataFields.valueY = "medida";
      series2.dataFields.value = "tamanhoReducao";
      series2.strokeWidth = 1;
      
      var bullet2 = series2.bullets.push(new am4charts.CircleBullet());
      series2.heatRules.push({
        target: bullet2.circle,
        min: 5,
        max: 5,
        property: "radius"
      });
      
      bullet2.tooltipText = "{valueX} x {valueY}: [bold]{value}[/]";
      
      //scrollbars
      chart.scrollbarX = new am4core.Scrollbar();
      chart.scrollbarY = new am4core.Scrollbar();
      
      }); // end am4core.ready()

      

      
    </script>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Grafico da Medida</title>
    </head>

    <body>
        <form>
            <input type='button' value='Voltar' onclick="javascript: history.go(-1)" />
        </form>  
      
        
      
        <h1>  Grafico da Medida {{nomemedida}}</h1>

        
        <div id="chartdiv"></div>
        <div id="chartdiv1"></div>
        <div id="chartdiv2"></div>
        <div id="chartdiv3"></div>
        <div id="dados" style="opacity: 0;">{{dados}}</div>

        <div id="experimento" style="opacity: 0;">{{experimento}}</div>
        <div id="origin" style="opacity: 0;">{{origin}}</div>
        <div id="medida" style="opacity: 0;">{{medida}}</div>
        <div id="result" style="opacity: 0;">{{result}}</div>
        <div id="nomemedida" style="opacity: 0;">{{nomemedida}}</div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </body>
</html>