<!-- Styles -->
<style>
    #chartdiv {
      width: 100%;
      height: 500px;
    }
    
    </style>
    
    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    
    <!-- Chart code -->
    <script>
    
      am4core.ready(function() {
      var ori = document.getElementById("list_df_ft").innerText;
      var ori1 = eval(ori);
      var red = document.getElementById("list_df_red").innerText;
      var red1 = eval(red);
      var nreduc =  document.getElementById("nreduc").innerText;
      var nreduc_ = eval(nreduc);
      var nfiles =  document.getElementById("nfiles").innerText;
      var nfiles_ = eval(nfiles);
      // Themes begin
      j=0;i=0;nred=0;div2=0
      am4core.useTheme(am4themes_animated);

      for(i;i<ori1.length;i++) {

        dv1 = i+div2

        dv_ = String(dv1)
        divroot = "chartdiv"

        div_1 = divroot.concat(dv_)

        ori =''
        ori = ori1[i].replace('{"0":{"0":', '[{ medida: ');
        ori = ori.replaceAll('"0":', '');
        ori = ori.replaceAll('"1":', '');
        ori = ori.replaceAll('{"', '{ medida: "');
        ori = ori.replaceAll('",', '", value: ');
        ori = ori.replace(',"1"', ', value');
        ori = ori.replace('"2":', ' ');ori = ori.replace('"3":', ' ');ori = ori.replace('"4":', ' ');ori = ori.replace('"5":', ' ');ori = ori.replace('"6":', ' ');ori = ori.replace('"7":', ' ');ori = ori.replace('"8":', ' ');ori = ori.replace('"9":', ' ');ori = ori.replace('"10":', ' ');ori = ori.replace('"11":', ' ');ori = ori.replace('"12":', ' ');
        ori = ori.replace('"13":', ' ');ori = ori.replace('14":', ' ');ori = ori.replace('"15":', ' ');ori = ori.replace('"16":', ' ');ori = ori.replace('"17":', ' ');ori = ori.replace('"18":', ' ');ori = ori.replace('"19":', ' ');ori = ori.replace('"20":', ' ');ori = ori.replace('"21":', ' ');ori = ori.replace('"22":', ' ');ori = ori.replace('"23":', ' ');
        ori = ori.replace('"24":', ' ');ori = ori.replace('"25":', ' ');ori = ori.replace('"26":', ' ');ori = ori.replace('"27":', ' ');ori = ori.replace('"28":', ' ');ori = ori.replace('"29":', ' ');ori = ori.replace('"30":', ' ');ori = ori.replace('"31":', ' ');ori = ori.replace('"32":', ' ');ori = ori.replace('"33":', ' ');ori = ori.replace('"34":', ' ');
        ori = ori.replace('"35":', ' ');ori = ori.replace('"36":', ' ');ori = ori.replace('"37":', ' ');ori = ori.replace('"38":', ' ');ori = ori.replace('"39":', ' ');ori = ori.replace('"40":', ' ');ori = ori.replace('"41":', ' ');ori = ori.replace('"42":', ' ');ori = ori.replace('"43":', ' ');ori = ori.replace('"44":', ' ');ori = ori.replace('"45":', ' ');
        ori = ori.replace('"46":', ' ');ori = ori.replace('"49":', ' ');ori = ori.replace('"50":', ' ');ori = ori.replace('"51":', ' ');ori = ori.replace('"52":', ' ');ori = ori.replace('"53":', ' ');ori = ori.replace('"54":', ' ');ori = ori.replace('"55":', ' ');ori = ori.replace('"56":', ' ');ori = ori.replace('"57":', ' ');ori = ori.replace('"57":', ' ');
        ori = ori.replace('"57":', ' ');ori = ori.replace('"58":', ' ');ori = ori.replace('"59":', ' ');ori = ori.replace('"60":', ' ');ori = ori.replace('"61":', ' ');ori = ori.replace('"62":', ' ');ori = ori.replace('"63":', ' ');ori = ori.replace('"64":', ' ');ori = ori.replace('"65":', ' ');ori = ori.replace('"66":', ' ');ori = ori.replace('"67":', ' ');
        ori = ori.replace('"68":', ' ');ori = ori.replace('"69":', ' ');ori = ori.replace('"70":', ' ');ori = ori.replace('"71":', ' ');ori = ori.replace('"72":', ' ');ori = ori.replace('"73":', ' ');ori = ori.replace('"74":', ' ');ori = ori.replace('"75":', ' ');ori = ori.replace('"76":', ' ');ori = ori.replace('"77":', ' ');ori = ori.replace('"78":', ' ');
        ori = ori.replace('"79":', ' ');ori = ori.replace('"80":', ' ');ori = ori.replace('"81":', ' ');ori = ori.replace('"82":', ' ');ori = ori.replace('"83":', ' ');ori = ori.replace('"84":', ' ');ori = ori.replace('"85":', ' ');ori = ori.replace('"86":', ' ');ori = ori.replace('"87":', ' ');ori = ori.replace('"88":', ' ');ori = ori.replace('"89":', ' ');
        ori = ori.replace('"90":', ' ');ori = ori.replace('"91":', ' ');ori = ori.replace('"92":', ' ');ori = ori.replace('"93":', ' ');ori = ori.replace('"94":', ' ');ori = ori.replace('"95":', ' ');ori = ori.replace('"96":', ' ');ori = ori.replace('"97":', ' ');ori = ori.replace('"98":', ' ');ori = ori.replace('"99":', ' ');ori = ori.replace('"100":', ' ');
        ori = ori.replace('"101":', ' ');ori = ori.replace('"102":', ' ');ori = ori.replace('"103":', ' ');ori = ori.replace('"104":', ' ');ori = ori.replace('"105":', ' ');ori = ori.replace('"406":', ' ');ori = ori.replace('"105":', ' ');ori = ori.replace('"406":', ' ');ori = ori.replace('"107":', ' ');ori = ori.replace('"108":', ' ');ori = ori.replace('"109":', ' ');
        ori = ori.replace('"110":', ' ');ori = ori.replace('"111":', ' ');ori = ori.replace('}}', '}]');;ori = ori.replace('","":', ' ');
        ori = ori.replace('"47":', ' ');ori = ori.replace('"48":', ' ');ori = ori.replace('"106":', ' ');ori = ori.replaceAll(',"', ', ');
        //ori = eval(ori)

        ori = eval(ori)
        reduc = eval(ori)
      // Themes end

        document.createElement(div_1 );
        var chart = am4core.create(div_1, am4charts.XYChart3D);
        // Add scrollbar
    
        chart.data = ori
    
        let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "medida";
        categoryAxis.renderer.labels.template.rotation = 270;
        categoryAxis.renderer.labels.template.hideOversized = false;
        categoryAxis.renderer.minGridDistance = 20;
        categoryAxis.renderer.labels.template.horizontalCenter = "right";
        categoryAxis.renderer.labels.template.verticalCenter = "middle";
        categoryAxis.tooltip.label.rotation = 270;
        categoryAxis.tooltip.label.horizontalCenter = "right";
        categoryAxis.tooltip.label.verticalCenter = "middle";
    
        let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.title.text = "Valores";
        valueAxis.title.fontWeight = "bold";
    
    
        // Create series
        var series = chart.series.push(new am4charts.ColumnSeries3D());
        series.dataFields.valueY = "value";
        series.dataFields.categoryX = "medida";
        series.name = "Medidas";
        series.tooltipText = "{categoryX}: [bold]{valueY}[/]";
        series.columns.template.fillOpacity = .8;
    
        var columnTemplate = series.columns.template;
        columnTemplate.strokeWidth = 2;
        columnTemplate.strokeOpacity = 1;
        columnTemplate.stroke = am4core.color("#FFFFFF");
    
        columnTemplate.adapter.add("fill", function(fill, target) {
          return chart.colors.getIndex(target.dataItem.index);
        })
    
        columnTemplate.adapter.add("stroke", function(stroke, target) {
          return chart.colors.getIndex(target.dataItem.index);
        })
    
        chart.cursor = new am4charts.XYCursor();
        chart.cursor.lineX.strokeOpacity = 0;
        chart.cursor.lineY.strokeOpacity = 0;


        for( j=0;j< nreduc_.length;j++) {
          nred = j+nred
          dv1 = dv1+j+1
          div2= dv1

          dv_ = String(div2)
          divroot = "chartdiv"
          div_11 = divroot.concat(dv_)
          red =''
          red = red1[nred].replace('{"0":{"0":', '[{ medida: ');
          red = red.replaceAll('"0":', '');
          red = red.replaceAll('"1":', '');
          red = red.replaceAll('{"', '{ medida: "');
          red = red.replaceAll('",', '", value: ');
          red = red.replace(',"1"', ', value');
          red = red.replace('"2":', ' ');red = red.replace('"3":', ' ');red = red.replace('"4":', ' ');red = red.replace('"5":', ' ');red = red.replace('"6":', ' ');red = red.replace('"7":', ' ');red = red.replace('"8":', ' ');red = red.replace('"9":', ' ');red = red.replace('"10":', ' ');red = red.replace('"11":', ' ');red = red.replace('"12":', ' ');
          red = red.replace('"13":', ' ');red = red.replace('14":', ' ');red = red.replace('"15":', ' ');red = red.replace('"16":', ' ');red = red.replace('"17":', ' ');red = red.replace('"18":', ' ');red = red.replace('"19":', ' ');red = red.replace('"20":', ' ');red = red.replace('"21":', ' ');red = red.replace('"22":', ' ');red = red.replace('"23":', ' ');
          red = red.replace('"24":', ' ');red = red.replace('"25":', ' ');red = red.replace('"26":', ' ');red = red.replace('"27":', ' ');red = red.replace('"28":', ' ');red = red.replace('"29":', ' ');red = red.replace('"30":', ' ');red = red.replace('"31":', ' ');red = red.replace('"32":', ' ');red = red.replace('"33":', ' ');red = red.replace('"34":', ' ');
          red = red.replace('"35":', ' ');red = red.replace('"36":', ' ');red = red.replace('"37":', ' ');red = red.replace('"38":', ' ');red = red.replace('"39":', ' ');red = red.replace('"40":', ' ');red = red.replace('"41":', ' ');red = red.replace('"42":', ' ');red = red.replace('"43":', ' ');red = red.replace('"44":', ' ');red = red.replace('"45":', ' ');
          red = red.replace('"46":', ' ');red = red.replace('"49":', ' ');red = red.replace('"50":', ' ');red = red.replace('"51":', ' ');red = red.replace('"52":', ' ');red = red.replace('"53":', ' ');red = red.replace('"54":', ' ');red = red.replace('"55":', ' ');red = red.replace('"56":', ' ');red = red.replace('"57":', ' ');red = red.replace('"57":', ' ');
          red = red.replace('"57":', ' ');red = red.replace('"58":', ' ');red = red.replace('"59":', ' ');red = red.replace('"60":', ' ');red = red.replace('"61":', ' ');red = red.replace('"62":', ' ');red = red.replace('"63":', ' ');red = red.replace('"64":', ' ');red = red.replace('"65":', ' ');red = red.replace('"66":', ' ');red = red.replace('"67":', ' ');
          red = red.replace('"68":', ' ');red = red.replace('"69":', ' ');red = red.replace('"70":', ' ');red = red.replace('"71":', ' ');red = red.replace('"72":', ' ');red = red.replace('"73":', ' ');red = red.replace('"74":', ' ');red = red.replace('"75":', ' ');red = red.replace('"76":', ' ');red = red.replace('"77":', ' ');red = red.replace('"78":', ' ');
          red = red.replace('"79":', ' ');red = red.replace('"80":', ' ');red = red.replace('"81":', ' ');red = red.replace('"82":', ' ');red = red.replace('"83":', ' ');red = red.replace('"84":', ' ');red = red.replace('"85":', ' ');red = red.replace('"86":', ' ');red = red.replace('"87":', ' ');red = red.replace('"88":', ' ');red = red.replace('"89":', ' ');
          red = red.replace('"90":', ' ');red = red.replace('"91":', ' ');red = red.replace('"92":', ' ');red = red.replace('"93":', ' ');red = red.replace('"94":', ' ');red = red.replace('"95":', ' ');red = red.replace('"96":', ' ');red = red.replace('"97":', ' ');red = red.replace('"98":', ' ');red = red.replace('"99":', ' ');red = red.replace('"100":', ' ');
          red = red.replace('"101":', ' ');red = red.replace('"102":', ' ');red = red.replace('"103":', ' ');red = red.replace('"104":', ' ');red = red.replace('"105":', ' ');red = red.replace('"406":', ' ');red = red.replace('"105":', ' ');red = red.replace('"406":', ' ');red = red.replace('"107":', ' ');red = red.replace('"108":', ' ');red = red.replace('"109":', ' ');
          red = red.replace('"110":', ' ');red = red.replace('"111":', ' ');red = red.replace('}}', '}]');;red = red.replace('","":', ' ');
          red = red.replace('"47":', ' ');red = red.replace('"48":', ' ');red = red.replace('"106":', ' ');red = red.replaceAll(',"', ', ');
          //red = eval(red)
            
          reduc = eval(red)
          // Themes end

          document.createElement(div_11 );

          am4core.ready(function() {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end
            
            // Create chart instance
            var chart = am4core.create("div_11", am4charts.XYChart);
           // chart.cursor = new am4charts.XYCursor();
           // chart.cursor.behavior = "zoomXY";
            
            //add legend
            chart.legend = new am4charts.Legend();
            chart.scrollbarY = new am4core.Scrollbar();
            // Export
            chart.exporting.menu = new am4core.ExportMenu();
            
            // Data for both series
            var data = reduc
            
            /* Create axes */
            var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "medida";
            categoryAxis.renderer.minGridDistance = 30;
            
            /* Create value axis */
            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            
            /* Create series */
            var columnSeries = chart.series.push(new am4charts.ColumnSeries());
            columnSeries.name = "reduzido";
            columnSeries.dataFields.valueY = "value";
            columnSeries.dataFields.categoryX = "medida";
            
            columnSeries.columns.template.tooltipText = "[#fff font-size: 15px]{name} in {categoryX}:\n[/][#fff font-size: 20px]{valueY}[/] [#fff]{additional}[/]"
            columnSeries.columns.template.propertyFields.fillOpacity = "fillOpacity";
            columnSeries.columns.template.propertyFields.stroke = "stroke";
            columnSeries.columns.template.propertyFields.strokeWidth = "strokeWidth";
            columnSeries.columns.template.propertyFields.strokeDasharray = "columnDash";
            columnSeries.tooltip.label.textAlign = "middle";
            
            var lineSeries = chart.series.push(new am4charts.LineSeries());
            lineSeries.name = "Original";
            lineSeries.dataFields.valueY = "value1";
            lineSeries.dataFields.categoryX = "medida";
            
            lineSeries.stroke = am4core.color("#fdd400");
            lineSeries.strokeWidth = 3;
            lineSeries.propertyFields.strokeDasharray = "lineDash";
            lineSeries.tooltip.label.textAlign = "middle";
            
            var bullet = lineSeries.bullets.push(new am4charts.Bullet());
            bullet.fill = am4core.color("#fdd400"); // tooltips grab fill from parent by default
            bullet.tooltipText = "[#fff font-size: 15px]{name} in {categoryX}:\n[/][#fff font-size: 20px]{valueY}[/] [#fff]{additional}[/]"
            var circle = bullet.createChild(am4core.Circle);
            circle.radius = 4;
            circle.fill = am4core.color("#fff");
            circle.strokeWidth = 3;
            
            chart.data = data;
            
            }); // end am4core.ready()
          }

        }
        }); // end am4core.ready()

    </script>

        <!-- HTML -->
        <div id="chartdiv0"></div>
        <div id="chartdiv1"></div>
        <div id="chartdiv2"></div>
        <div id="chartdiv3"></div>
        <div id="chartdiv4"></div>
        <div id="chartdiv5"></div>
        <div id="chartdiv6"></div>
        <div id="chartdiv7"></div>
        <div id="chartdiv8"></div>
        <div id="chartdiv9"></div>
        <div id="chartdiv10"></div>
        <div id="chartdiv11"></div>
        <div id="chartdiv12"></div>
        <div id="chartdiv13"></div>
        <div id="chartdiv14"></div>
        <div id="chartdiv15"></div>
        <div id="chartdiv16"></div>
        <div id="chartdiv17"></div>
        <div id="chartdiv18"></div>
        <div id="chartdiv19"></div>
        <div id="chartdiv20"></div>
        <div id="chartdiv21"></div>
        <div id="chartdiv22"></div>
        <div id="chartdiv23"></div>
        <div id="chartdiv24"></div>
        <div id="chartdiv25"></div>
        <div id="list_df_ft" style="opacity: 0;">{{list_df_ft}}</div>
        <div id="list_df_red" style="opacity: 0;">{{list_df_red}}</div>
        <div id="nreduc" style="opacity: 0;">{{nreduc}}</div>
        <div id="nfiles" style="opacity: 0;">{{nfiles}}</div>
    